* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.EditInformationContainer {
  width: 393px;
  min-height: 852px;
  background-color: #fff;
}
.MypageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 16px;
}

.backButton {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

.EditpageTitle {
  font-size: 21px;
  font-weight: 700;
  color: #444;
  margin: 0 auto;
}

.null {
  width: 24px;
  height: 24px;
}
.EditprofileSection {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 32px;
}

.EditprofileImageWrapper {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #e0e0e0;
  position: relative;
}

.EditprofileImage {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.editIcon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 32px;
  height: 32px;
  background-color: #23D97B;
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
  box-shadow: 0 0 0 2px #FFF,0 1px 3px rgba(0,0,0,0.2);

}
.EditinfoSection {
  margin-left: 16px;
}

.EditinfoLabel {
  font-size: 16px;
  font-weight: 700;
  color: #111;
}

.EditinfoBox {
  width: 361px;
  height: 48px;
  margin-top: 8px;
  padding-left: 16px;
  border-radius: 8px;
  background-color: #F4F4F4;
  border: none;
  font-size: 15px;
}
.Editroom-selector-container {
  margin-left: 16px;
  margin-top: 21px;
}

/* 층 버튼 */
.Editfloor-toggle-group {
  display: flex;
  gap: 10px;
  margin-top: 8px;
  margin-bottom: 24px;
}

.Editfloor-toggle-button {
  width: 114px;
  height: 65px;
  border-radius: 8px;
  border: 0.3px solid #CCC;
  background-color: #FFF;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.Editfloor-toggle-button.selected {
  border: 1.5px solid #23D97B;
  box-shadow: 0 0 15px rgba(35, 217, 123, 0.25);
}




.Editroom-dropdown-container {
  position: relative;
  width: 361px;
}

/* 닫힌 상태 박스 */
.Editroom-display-box {
  width: 361px;
  height: 48px;
  padding: 0 16px;
  border-radius: 8px;
  border: 1px solid #444;
  background-color: #FFF;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 16px;
  cursor: pointer;
}

/* 화살표 */
.Editdropdown-arrow {
  width: 12px;
  height: 8px;
  transition: transform 0.2s ease;
  flex-shrink: 0;
}

.Editdropdown-arrow.Editopen {
  transform: rotate(180deg);
}

/* 펼쳐진 리스트 */
.Editroom-options-list {
  position: absolute;
  top: 52px;
  left: 0;

  width: 361px;
  max-height: 200px;
  overflow-y: auto;

  border-radius: 6px 6px 0 0;
  border: 0.5px solid #CCC;
  background: #FFF;

  list-style: none;
  padding: 0;
  z-index: 10;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

/* 리스트 아이템 */
.Editroom-option-item {
  padding: 12px 16px;
  font-size: 15px;
  cursor: pointer;
}

.Editroom-option-item:not(:last-child) {
  border-bottom: 1px solid #F0F0F0;
}

/* 선택된 호실 */
.Editroom-option-item.Edithighlighted {
  border: 0.5px solid #CCC;
  background: rgba(35, 217, 123, 0.20);
}


.EditsaveButton {
  width: 361px;
  height: 55px;
  margin: 242px auto 0;
  display: block;

  background-color: #23D97B;
  color: #FFF;
  border: none;
  border-radius: 12px;

  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
