.loginContainer {
  width: 100%;
  max-width: 393px; /* 모바일 화면 기준 */
  padding: 40px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* 화면 높이 꽉 채움 */
  background-color: #ffffff;
}

.loginContainer h1 {
  font-size: 28px;
  font-weight: 700;
  color: #23D97B;
  margin-bottom: 20px;
  text-align: center;
}

.loginButton {
  width: 100%;
  max-width: 361px;
  padding: 15px 0;
  background-color: #23D97B;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: background 0.2s, transform 0.2s;
  text-align: center;
   margin-bottom: 50%;
}

.loginButton:hover {
  background-color: #1fb66f;
  transform: translateY(-2px);
}
