.qr-page {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: #000;
  display: flex;
  flex-direction: column;
}

.header {
  background: #ffffff;
  padding: 0 20px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 100; /* 가장 위 */
}

.back-btn {
  position: absolute;
  left: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.back-btn img {
  width: 24px;
}

.header h1 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

/* 카메라 배경 */
.camera-background {
  position: absolute;
  top: 60px; /* 헤더 높이만큼 띄움 */
  left: 0;
  width: 100%;
  height: calc(100vh - 60px);
  object-fit: cover;
  z-index: 1;
}

/* 헤더 아래의 모든 컨텐츠 영역 */
.scan-content-wrapper {
  position: relative;
  flex: 1;
  z-index: 10;
}

/* 스캔 프레임 및 오버레이 효과 */
.qr-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
}

.scan-frame {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 30px;
  z-index: 20;
  outline: 1000px solid rgba(0, 0, 0, 0.3); 

}


/* 모서리 디자인 */
.corner {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 6px solid #fff;
  z-index: 25;
}

.corner-tl { top: -2px; left: -2px; border-right: none; border-bottom: none; border-top-left-radius: 30px; }
.corner-tr { top: -2px; right: -2px; border-left: none; border-bottom: none; border-top-right-radius: 30px; }
.corner-bl { bottom: -2px; left: -2px; border-right: none; border-top: none; border-bottom-left-radius: 30px; }
.corner-br { bottom: -2px; right: -2px; border-left: none; border-top: none; border-bottom-right-radius: 30px; }


.scan-text {
  color: #fff;
  margin-top: 40px;
  font-size: 15px;
  font-weight: 500;
}

.floatingScanner {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: transform 0.1s;
}

.floatingScanner:active {
  transform: scale(0.9);
}

.scannerIcon {
  display: flex;
  width: 84px;
  height: 84px;
  padding: 16.8px;
  align-items: center;
  gap: 10.5px;
  border-radius: 42px;
  background: #23D97B;
  box-shadow: 0 4.2px 10.5px 0 rgba(0, 0, 0, 0.10);
  background-repeat: no-repeat;
}

.qr-container .floatingScanner {
  width: 80px;
  height: 80px;
  position: fixed;
  bottom: -210px; /* 화면 아래쪽에서 거리 */
  left: 50%;
  transform: translateX(-50%); /* 수평 중앙 */
  z-index: 1000;
  border-radius: 50%;
}

.qr-container .floatingScanner .scannerIcon {
  width: 50px;  /* 기존보다 크게 */
  height: 50px; /* 기존보다 크게 */
  background-size: cover;
  background-position: center;
  cursor: pointer;
}