.selectRoomContainer {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 40px 20px;
  box-sizing: border-box;
}

.selectRoomContainer h1 {
  font-size: 26px;
  font-weight: 700;
  color: #111;
  margin-bottom: 40px;
  line-height: 1.4;
}

.floorTabs {
  display: flex;
  gap: 12px;
  margin-bottom: 30px;
}

.floorTab {
  width: 113px;
  height: 65px;
  flex: 1;
  padding: 12px 0;
  border-radius: 8px;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: all 0.2s;
}

.floorTab.active {
  background-color: #fff;
  border: 2px solid #23D97B;
  box-shadow: 0 4px 12px rgba(35,217,123,25%);

}

.dropdownContainer {
  position: relative;
  margin-bottom: 200px;
}

.dropdownHeader {
  width: 91%;
  padding: 16px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  color: #000;
}

.dropdownArrow {
  color: #000;
}

.dropdownList {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: 8px;
  background-color: #FFF;
  border: 1px solid #E0E0E0;
  border-radius: 10px;
  max-height: 240px;
  overflow-y: overlay;
  z-index: 10;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.dropdownList::after {
  content: "";
  display: block;
  height: 1px;
  margin-right: 12px; 
}

.dropdownItem {
  padding: 16px;
  cursor: pointer;
  font-size: 16px;
  color: #111;
  transition: background 0.2s;
  border-bottom: 1px solid #E0E0E0;
}

.dropdownItem:last-child {
  border-bottom: none;
}

.dropdownItem:hover {
  background-color: #23D97B 20%;
}

.dropdownItem.selected {
  background-color: #E6F9F1;
}

/* 스크롤바 전체 */
.dropdownList::-webkit-scrollbar {
  width: 4px;              /* ← 얇게 */
}

/* 스크롤바 배경 (흰색 제거) */
.dropdownList::-webkit-scrollbar-track {
  background: transparent; /* ← 완전 투명 */
  margin: 8px;        /* ← 스크롤바와 내용 사이 여백 */
}

/* 스크롤바 바 */
.dropdownList::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* 연한 색 */
  border-radius: 10px;
}

/* 스크롤바 화살표 제거 */
.dropdownList::-webkit-scrollbar-button {
  display: none;
}


.saveButton {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);

  width: calc(100% - 40px);
  max-width: 353px;
  height: 54px;

  background-color: #23D97B;
  color: #fff;

  border: none;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;

  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.saveButton:hover {
  background-color: #20c170;
}